<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mascotas">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Mascotas">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.PetListActivity"></activity>
        <activity android:name=".activities.scraper.ScraperListPetsActivity"></activity>
        <activity android:name=".activities.scraper.ScraperAddPetActivity"></activity>

        <service
            android:name=".services.PetService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter android:label="@string/myService" >
                <action android:name="custom.MY_SERVICE"/>
            </intent-filter>
        </service>

        <receiver android:name=".services.PetServiceReceiver" />
    </application>

</manifest>